@model ProyectoRegistros.Models.Usuario
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Inicio Sesión</title>
    <link rel="stylesheet" href="~/css/InicioSesion.css" />
</head>
<body>
    <div class="login-container">
        <form method="post" action="/Home/Index">
            <img src="~/img/logo.png" class="logo" />
            <h3>Correo electrónico</h3>
            <input asp-for="Correo" name="correo" type="text" placeholder="Ingresa tu correo" id="uno" required />
            <h3>Contraseña</h3>
            <input asp-for="Contraseña" name="password" type="password" placeholder="Ingresa la contraseña" id="dos" required />

            <p class="alerta"></p>
            <input id="btnInicio" type="submit" value="Iniciar sesión" />

@*             <p class="">
                @Html.ValidationSummary()
            </p>
 *@
            <a href="~/Home/TalleresDisponibles">Ver solo talleres disponibles</a>
        </form>

    </div>

@*     <!--<script>const user = document.querySelector("#uno");

            const user = document.querySelector("#uno");
    const btnInicio = document.querySelector("#btnInicio");
    btnInicio.addEventListener("click", function(){
        if(user.value == "administrador"){
                window.location.href = "/Admin/Home/Index";
        }
        if(user.value == "profesor"){
                window.location.href = "/Profe/Profe/Index";
        }
        if (user.value == "visitante") {
                window.location.href = "/Visitante/Visitante/Index";
        }
        });  *@
</body>


</html>