@model ProyectoRegistros.Areas.Profe.Models.ViewModels.MisTalleresViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "LayoutProfe";
}
<div class="recibo">
    <fieldset>
        <section class="encabezado">
            <img src="logo2.png" />
            <h2>RECIBO DE PAGO</h2>
            <img src="logo.png" />
        </section>
        <section class="cuerpo">
            <p>
                @* Emilio Vicente Juarez Cipriano Augusto *@
                Recibimos de <span>@Model.Alumno.Tutor</span>, la cantidad de
                <span>pagar</span> por concepto de <span>inscripción</span>
                recibido por <span>Centro Cultural Lili y Edilberto Montemayor Seguy</span>
                con dirección en <span>Amador Chapa 186, Zona Centro, 26700 Sabinas, Coahuila.</span>
                y teléfono <span>861 612 1225</span> con fecha de<span>17/11/2025</span>.
            </p>
        </section>
        <section class="pie-pagina">
            <hr size="1" width="40%">
            <label>FIRMA</label>
        </section>
    </fieldset>
</div>