html {
    background-color: #EDEDED;
    font-family: Arial, Helvetica, sans-serif;
}

#ig1 {
    margin-left:20px;
    width: 30px;
    height: 30px;
    cursor:pointer;
}

#ig2 {
    margin-right: 25px;
    width: 35px;
    height: 35px;
    cursor:pointer;
}

header {
    background-color: #D9D9D9;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    margin: 0;
    padding: 0;
    height: 60px;
    align-items:center;
    justify-content: space-between;
}
.izq {
    display: flex;
    align-items: center;
}
.principal h2 {
    font-weight: 500;
    margin-left: 20px;
}

.buscador {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    gap: 10px;
}

    .buscador img {
        height: 25px;
        width: 25px;
    }

input[type=search] {
    border-radius: 5px;
    font-size: 17px;
    height: 35px;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 10px;
    background:url("../img/lupa1.png");
    background-repeat:no-repeat;
    background-position-x:right;
    background-size:30px;
}



/*

    TABLAS


*/



.tablita {
    height: 450px !important;
    overflow-y: auto;
}
table th {
    background-color: ghostwhite;
    border-bottom: 1px solid gray;
    height: 40px;
}

table tr {
    height: 50px;
}
table td {
    border: 1px solid gray;
    padding: 8px;
}

table td:nth-last-child(1){
    background-color:pink;
    align-self:center;
}
    table td:nth-last-child(1) img {
        background-color: yellow;
        align-items: center;
        vertical-align:central;
        cursor:pointer;
    }

table {
    border-collapse: collapse;
    width: 100%;
/*    border: 1px solid gray;   */
}



/*


    INDEX TALLER


*/



#aggTaller{
    height:40px;
    border-radius:10px;
    border:none;
    width:10%;
}

.filtros {
    display: flex;
    align-items: center;
     margin:10px 20px 10px 5px;
    justify-content: space-between;
}

#aggTaller {
    background-color: #86775E;
    color: white;
    cursor:pointer;
}



/*

    EXPORTAR DATOS


*/




iframe {
    width: fit-content;
    height: fit-content;
}
