@media (max-width:1200px){
/*    #aggTaller {
        width: 25% !important;
    }
*/    #aggUsuario {
        width: 25% !important;
    }
    .historial-activo {
        display: block;
        width: 35% !important;
    }

    .buscador2 {
        width: 27% !important;
    }
    aside {
        width: 23% !important;
    }
    .modal form {
        width: 50% !important;
    }
/*    .modal select {
        width: 100% !important;
    }
    .modal select {
        width: 103.5% !important;
    }*/
    .buscador3 {
        width: 40% !important;
    }

}

@media(max-width:900px) {

    .buscador2 {
        width: 40% !important;
    }
    aside {
        width: 18%;
    }
    .modal form {
        width: 60% !important;
    }
    /*.modal select {*/
        /*        width: 103.5% !important;
*/
        /*width: 102% !important;
    }*/
    .buscador3 {
        width: 40% !important;
    }

}

@media(max-width:800px){
    .historial h2 {
        font-size: 20px !important;
    }
    .buscador2 {
        width: 45% !important;
    }
    aside {
        width: 30% !important;
    }
    .checar {
        margin-left: 0px !important;
    }
    .modal form {
        width: 60% !important;
    }

    .buscador3 {
        width: 50% !important;
    }

}

@media(max-width:650px){
    .verArchivo{
        align-content:start !important;
    }
    .buscador2 {
        width: 45% !important;
    }
    .buscador3 {
        width: 50% !important;
    }
    .select-header {
        font-size: 14px;
    }

    .tablita {
        overflow-y: auto;
        padding: 0px 0px !important;
        z-index: 0;
    }

    .filtros {
        align-items: center;
        margin: 10px 0px 10px 0px !important;
        padding: 0 !important;
    }
    .filtros2 {
        display: flex;
        align-items: center;
        margin: 10px 0px 10px 0px !important;
        justify-content: space-between;
    }
    table td:nth-last-child(1) img {
        align-items: center;
        cursor: pointer;
        height: 22px !important;
        width: 22px !important;
        margin-right: 5px;
        margin-left: 5px;
        padding: 5px;
        border-radius: 100px;
    }
    table td {
        text-align: center;
        padding: 8px;
        font-size: 14px !important;
    }

    .historial h2 {
    font-size:18px !important;
    }

    .checar {
        display: flex;
        align-items: center;
        margin-left: 0px !important;
    }

        .checar label {
            margin-left: 5px;
            cursor: pointer;
            color: dimgray;
            font-size: 13px !important;
        }

        .checar input[type=checkbox] {
            cursor: pointer;
        }
         #aggTaller {
        margin-left:10px;    }
}

@media(max-width:560px) {
    .historial {
        position: fixed;
        width: 45% !important;
    }
    aside {
        width: 45% !important;
    }

    .select-header {
font-size:11px;
    }
    .buscador3 {
        width: 50% !important;
    }
        .historial h2 {
            font-size: 12px;
        }
        .filtros{
            padding:0 !important;
        }
    .modal form {
        width: 80% !important;
    }
/*    .modal select {
        width: 103% !important;
    }*/
}



    html {
    background-color: #EDEDED;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#ig1 {
    margin-left:20px;
    width: 30px;
    height: 30px;
    cursor:pointer;
}

#ig2 {
    margin-right: 25px;
    width: 35px;
    height: 35px;
    cursor:pointer;
}

header {
    background-color: #D9D9D9;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    margin: 0;
    padding: 0;
    height: 60px;
    align-items:center;
    justify-content: space-between;
}

.izq {
    display: flex;
    align-items: center;
}

.principal h2 {
    font-weight: 500;
    margin-left: 20px;
}

.buscador {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    gap: 10px;
}
.buscador2 {
    margin-top: 1%;
    margin-bottom: 1%;
    width:20%;
    display: flex;
    gap: 10px;
}

    .buscador img {
        height: 25px;
        width: 25px;
    }

input[type=search] {
    border-radius: 5px;
    font-size: 17px;
    height: 35px;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 10px;
    background-color: white;
    width: 70%;
}
.historial {
    position: fixed;
    top: 0;
    right: -10px;
    width: 25%;
    height: 100vh;
    background-color: lightgray;
    z-index: 1000;
    overflow-y: auto;
    border-radius: 15px 0px 0px 15px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.2);
}
#aggTaller:hover {
    background-color: #645544;
    color: white; 
    transition: background-color 0.2s ease-in-out;
}

.historial-activo {
    transform: translateX(0);

}
.datosHistorial {
    overflow-y: auto;
    padding:10px;
}
.datosHistorial p:nth-last-child(1){
    margin-bottom:30px;
}

.historial h2 {
    height: 6%;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #afafaf;
}

#aggUsuario {
    height: 40px;
    border-radius: 10px;
    border: none;
    width: 10%;
}

#aggUsuario {
    background-color: #86775E;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

#aggUsuario:hover {
    background-color: #645544;
    color: white;
    transition: background-color 0.2s ease-in-out;
}

.clases{
    display:flex;
    flex-direction:column;
}



/*

    TABLAS


*/



#modal-DeleteTaller table {
    width: 100%;
    border-collapse: collapse;
}

#modal-DeleteTaller td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
#modal-DeleteTaller th {
    padding: 11px;
    text-align: left;
}
#modal-DeleteTaller td:nth-last-child(1) {
text-align:center !important;
}
#modal-DeleteTaller th {
    background-color: #f0f0f0;
}
.eliminar-taller{
    background-color:darkred;
    color:white;
    border-radius:3px;
    cursor:pointer;
}
.scroll-eliminar{
    overflow-y:auto;
    height:200px;
}
.tablita {
    /*    overflow-y: auto;
*/ padding: 0 50px;
    /*    height: calc(100vh - 200px);
*/
}
.tabla-scroll {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}
table th {
    background-color: ghostwhite;
    height: 40px;
    position: sticky;
    top: 0;
    z-index: 1;
}

table tr {
    height: 50px;
}
table td {
    text-align: center;
    padding: 8px;
}
table tr:nth-child(2n+1){
    background-color:#d0d0d0;
}

table td:nth-last-child(1){
    width:5%;
}
    table td:nth-last-child(1) img {
        align-items: center;
        cursor: pointer;
        height: 25px;
        width: 25px;
        margin-right: 5px;
        margin-left: 5px;
        padding: 5px;
        border-radius:100px;
    }
        table td:nth-last-child(1) img:hover {
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            transition: box-shadow 0.2s ease-in-out;
            border-radius: 100px;
            background-color:lightgrey;
        }
    table {
        border-collapse: collapse;
        width: 100%;
/*    border: 1px solid gray;   */
    }








.col {
    justify-content: space-between;
    display: flex;
    align-items: center;
}



/*


    INDEX TALLER


*/





.botones{
    display:flex;
    justify-content:center;
}

#aggTaller{
    border:none;
    height:40px;
    border-radius:10px;
}

.filtros {
    display: flex;
    align-items: center;
    padding: 10px 50px 10px; 
    justify-content: space-between;
}

.filtros2 {
    display: flex;
    align-items: center;
    margin: 10px 50px 10px 50px;
    justify-content: space-between;
}
.filtros2 input[type=search]{
    width:100%;
}
.buscador3 {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 23%;
    display: flex;
    gap: 10px;
}
    #fil {
        width: 100%;
    }
.BotonesTaller {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    gap: 10px;
}

#aggTaller {
    background-color: #86775E;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
#verAlumno {
    cursor: pointer;
    background-color: #86775E;
    border-radius:10px;
    border:none;
    color:white;
font-size:17px;
}
.checar {
    display: flex;
    width: 35%;
    align-items: center;
    margin-left: 10px;
}
    .checar label {
        margin-left: 5px;
        cursor: pointer;
        color:dimgray;
        font-size:15px;
    }
    .checar input[type=checkbox] {
        cursor: pointer;
    }











/*

    EXPORTAR DATOS A EXCEL


*/

.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.filtrar {
    width: 90%;
    background-color: #D9D9D9;
    padding: 10px;
    margin: 30px;
    border-radius: 5px;
}
.datos {
    background-color: #EDEDED;
    padding: 10px;
    border-radius: 5px;
}
.datos h3{
/*    border-bottom:1px solid black;
*/}

.datos input[type=number], .datos select{
    height:20px;
    border-radius:5px;
    width:40%;
}
.verArchivo{
    display:flex;
    height:40px;
    border:none;
    border-radius:10px;
    background-color:cadetblue;
    font-size:20px;
    cursor:pointer;
}





/*SPAN*/

.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    padding: 10px 0px 10px 10px;
    height:15px;
}

.select-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.select-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    height:150px;
    width: 98%;
    z-index:500;

    overflow-y:auto;
    display: none;
}

.show .select-content {

    display: block;
}
.select-content label {
    display: block;

    padding: 5px;
    border-bottom: 1px solid #ccc;
}

    .select-content label:hover {
        background-color: #f2f2f2;
    }








.datos {
    display: grid;
    grid-template-columns: 190px 1fr;
    gap: 10px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
}
    .datos h3 {
        grid-column: 1;
        margin: 0;
        text-align: right;
        justify-self: end;
    }
    .datos hr {
        grid-column: 1 / 3;
        width: 100%;
        margin: 10px 0;
    }


    .datos .custom-select, .datos input[type="number"], .datos select {
        grid-column: 2;
        width: 70%;
    }
    .datos input[type="number"] {
        padding: 4px;
    }
    .datos select {
        width: 72%;
        height: 30px;
    }
        .datos hr{
            width:90%;
        }


        /* PARTE DE KARLA ASDJASD*/

aside {
    width: 18%;
    z-index: 1000;
    height: 100vh;
    position: fixed;
    font-size: 14px;
    top: 0;
    padding: 4vw 3vh;
    background-color: #D9D9D9;
    border-radius: 0 15px 15px 0;
    transition: ease-in-out .3s;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
}
    aside img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto 20px auto;
    }
a {
    text-decoration: none;
    color: #000;
}
/*cuando esta oculto*/
aside {
    opacity: 0;
    transform: translate(-100%);
}
    /*cuando esta visible*/
    aside.visible {
        opacity: 1;
        transform: translate(0);
        display: block;
    }

#menu-abierto h3 {
    text-align: center;
}
.izq i{
    cursor:pointer;
}
.menu i {
    z-index: 1000;
    cursor: pointer;
}
#menu-abierto div:hover {
    width: 100%;
    color: white;
    margin: 0 -20px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: gray;
}

#menu-abierto div {
    font-size: 20px;
    padding: 15px 0;
    cursor: pointer;
}


.menu {
    cursor:pointer;
    padding: 15px;
    font-size: 36px;
    display: inline-block;
}



/*modaal recibo*/
.modal {
    top: 0%;
    z-index: 3;
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    background-color: #9a9797d5;
}

    .modal form {
        width: 40%;
        padding: 3vw;
        margin: 8vh auto;
        border-radius: 20px;
/*        height: calc(100vh - 25vh);
*/        background-color: #D9D9D9;
    }

#modal-recibo {
    display: none;
}


    #modal-recibo section:nth-of-type(2) {
        font-weight: bold;
    }

    #modal-recibo form {
        justify-content: space-around;
    }

    #modal-recibo section {
        width: 40%;
        line-height: 5vh;
        display: inline-block;
        background-color: transparent;
    }

    #modal-recibo #donativo {
        width: 30%;
        color: red;
        font-weight: bold;
        translate: 25vw -7vh;
        display: inline-flex;
        justify-content: space-between;
    }

/*modales de taller*/
/*#modal-AddTaller {
    display: none;
}

    #modal-AddTaller label {
        font-weight: bold;
    }

    #modal-AddTaller input, select {
        width: 100%;
        height: 2.5vh;
        margin: 1.5vh 0;
    }*/

.error {
    color: red;
    font-size: 13px;
    line-height: .6;
    font-weight: bold;
    text-align: center;
    overflow-y: auto;
    height: 7vh;
}

.cerrar {
    margin: 0 95%;
    color: white;
    cursor: pointer;
    background-color: pink;
}

#acomodar {
    gap: 2vw;
    margin: -6vh 0 2vh;
    align-items: center;
    display: inline-flex;
}

    #acomodar i {
        font-size: 8vh;
    }
.buttons {
    width: 40%;
    height: 5vh;
    border: none;
    margin: 0px;
    padding: 20px;
    font-weight:bold;
    font-size: 90%;
    line-height: 0px;
    border-radius: 10px;
    text-align:center;
    background-color: white;
    box-shadow: 1px 3px 10px 2px gray;
}

    .buttons:hover {
        cursor: pointer;
        color: white;
        background-color: #00000077;
    }
/*.modal input[type=text], .modal input[type=number]{
    height: 3vh;
    padding: 5px;
    border: none;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 0px rgba(128, 128, 128, 0.555);
}
.modal select {
    width: 104%;
    height: 3vh;
    padding: 5px;
    border: none;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 0px rgba(128, 128, 128, 0.555);
}*/

.guardado {
    display: flex;
    justify-content: center;
}
#acomodar i, #acomodar h2{
    cursor:default;
}


/*modales de taller*/
#modal-AddTaller {
    display: none;
}

#modal-EditTaller {
    display: none;
}

#modal-DeleteTaller {
    display: none;
    text-align: center;
}

#modal-AddTaller label {
    font-weight: bold;
}

#modal-DeleteTaller form {
/*    height: 25%;
*/    margin: 15% auto;
}

#modal-DeleteTaller fieldset {
    height: 15vh;
    margin: -3vh 0 2vh 0;
}
/*es para ajustar los inputs y selects de los forms :D*/
.inputForms {
    width: 100%;
    height: 2.5vh;
    margin: 1.5vh 0;
}
.cerrar {
    margin: 0 95%;
    height: 3vh;
    width: 3vh;
    color: white;
    cursor: pointer;
    background-color: #BC4C4C;
}