@media (max-width:1200px) {

    .historial-activo {
        display: block;
        width: 35% !important;
    }
    aside {
        width: 23% !important;
    }
}

@media(max-width:900px) {
    input[type=search] {
        width: 90% !important;
    }
    .buscador2 {
        width: 40% !important;
    }
    aside {
        width: 18%;
    }

}
@media(max-width:800px) {
    .historial h2 {
        font-size: 20px !important;
    }
    input[type=search] {
        width: 79% !important;
    }
    aside {
        width: 30% !important;
    }



    .modal form {
        width: 60% !important;
    }

}


@media (max-width:650px) {
    .filtros {
        align-items: center;
        margin: 10px 0px 10px 0px !important;
        padding: 0 !important;
    }

    .select-header {
        font-size: 14px;
    }
    input[type=search] {
        width: 100% !important;
    }
    .tablita {
        overflow-y: auto;
        padding: 0px 0px !important;
    }
    .historial h2 {
        font-size: 18px !important;
    }
}

@media(max-width:560px) {
    .historial {
        position: fixed;
        width: 45% !important;
    }
    input[type=search] {
        border-radius: 5px;
        font-size: 17px;
        height: 35px;
        width: 100% !important;
    }
        .historial h2 {
            font-size: 12px;
        }
    .historial h2 {
        font-size: 12px;
    }
    .select-header {
        font-size: 11px;
    }
    .modal form {
        width: 80% !important;
    }

    .modal select {
        width: 103% !important;
    }
}

.datos h3 {
    grid-column: 1;
    margin: 0;
    text-align: right;
    justify-self: end;
}








body {
    margin: 0;
    padding: 0;
}

.filtros {
    display: flex;
    align-items: center;
    padding: 10px 50px 10px;
    justify-content: space-between;
}


html {
    background-color: #EDEDED;
    font-family: Arial, Helvetica, sans-serif;
}

#ig1 {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#ig2 {
    margin-right: 25px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

header {
    background-color: #D9D9D9;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    margin: 0;
    padding: 0;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.izq {
    display: flex;
    align-items: center;
}

.principal h2 {
    font-weight: 500;
    margin-left: 20px;
}

.buscador {
    width:50%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    gap: 10px;
}

    .buscador img {
        height: 25px;
        width: 25px;
    }

input[type=search] {
    border-radius: 5px;
    font-size: 17px;
    height: 35px;
    width: 52%;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 10px;
    background-color: white;
}

.historial {
    position: fixed;
    top: 0;
    right: -10px;
    width: 25%;
    height: 100vh;
    background-color: lightgray;
    z-index: 1000;
    overflow-y: auto;
    border-radius: 15px 0px 0px 15px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.2);
}

.historial-activo {
    transform: translateX(0);
}

.datosHistorial {
    overflow-y: auto;
    padding: 10px;
}

    .datosHistorial p:nth-last-child(1) {
        margin-bottom: 30px;
    }

.historial h2 {
    height: 6%;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #afafaf;
}

#verAlumno {
    cursor: pointer;
    background-color: #86775E;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 17px;
    display: flex;
    height: 40px;
}

.botones {
    display: flex;
    justify-content: center;
}


.clases{
    display:flex;
}



.datos hr {
    width: 90%;
}

.datos hr {
    grid-column: 1 / 3;
/*    width: 100%;
   margin: 10px 0;*/ 
}
.datos input[type=number], .datos select {
    height: 20px;
    border-radius: 5px;
}
.datos input[type="number"] {
    padding: 4px;
}

/*

    EXPORTAR DATOS A EXCEL


*/

.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datos .custom-select, .datos input[type="number"], .datos select {
    grid-column: 2;
    width: 70%;
}

.filtrar {
    width: 90%;
    background-color: #D9D9D9;
    padding: 10px;
    margin: 30px;
    border-radius: 5px;
}

.datos {
    display: grid;
    grid-template-columns: 190px 1fr;
    gap: 10px;
    width:80%;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
}
    .datos select {
        width: 72%;
        height: 30px;
    }

.datos {
    background-color: #EDEDED;
    padding: 10px;
    border-radius: 5px;
}
    .datos h3 {
        /*    border-bottom:1px solid black;
*/
    }

    .datos input[type=number], .datos select {
        /*        height: 20px;
*/ border-radius: 5px;
        /*        width: 40%;
*/
    }

.verArchivo {
    display: flex;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: cadetblue;
    font-size: 20px;
    cursor: pointer;
}




/*SPAN*/

.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    padding: 10px 0px 10px 10px;
    height: 15px;
}

.select-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.select-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    height: 150px;
    width: 98%;
    z-index: 500;
    overflow-y: auto;
    display: none;
}

.show .select-content {
    display: block;
}

.select-content label {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

    .select-content label:hover {
        background-color: #f2f2f2;
    }














/*

    TABLAS


*/

#modal-DeleteTaller table {
    width: 100%;
    border-collapse: collapse;
}

#modal-DeleteTaller td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#modal-DeleteTaller th {
    padding: 11px;
    text-align: left;
}

#modal-DeleteTaller td:nth-last-child(1) {
    text-align: center !important;
}

#modal-DeleteTaller th {
    background-color: #f0f0f0;
}
.eliminar-taller {
    background-color: darkred;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.scroll-eliminar {
    overflow-y: auto;
    height: 200px;
}

.tablita {
    /*    overflow-y: auto;
*/ padding: 0 50px;
    /*    height: calc(100vh - 200px);
*/
}

.tabla-scroll {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}


table th {
    background-color: ghostwhite;
    height: 40px;
    position: sticky;
    top: 0;
    z-index: 1;
}

table tr {
    height: 50px;
}

table td {
    text-align: center;
    padding: 8px;
}

table tr:nth-child(2n+1) {
    background-color: #d0d0d0;
}

table td:nth-last-child(1) {
    width: 5%;
}

    table td:nth-last-child(1) img {
        align-items: center;
        cursor: pointer;
        height: 25px;
        width: 25px;
        margin-right: 5px;
        margin-left: 5px;
        padding: 5px;
        border-radius: 100px;
    }

        table td:nth-last-child(1) img:hover {
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            transition: box-shadow 0.2s ease-in-out;
            border-radius: 100px;
            background-color: lightgrey;
        }

table {
    border-collapse: collapse;
    width: 100%;
    /*    border: 1px solid gray;   */
}








/* PARTE DE KARLA ASDJASD*/

aside {
    width: 18%;
    z-index: 1000;
    height: 100vh;
    position: fixed;
    font-size: 14px;
    top: 0;
    padding: 4vw 3vh;
    background-color: #D9D9D9;
    border-radius: 0 15px 15px 0;
    transition: ease-in-out .3s;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
}

    aside img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto 20px auto;
    }

a {
    text-decoration: none;
    color: #000;
}
/*cuando esta oculto*/
aside {
    opacity: 0;
    transform: translate(-100%);
}
    /*cuando esta visible*/
    aside.visible {
        opacity: 1;
        transform: translate(0);
        display: block;
    }

#menu-abierto h3 {
    text-align: center;
}

#menu-abierto div:hover {
    width: 100%;
    color: white;
    margin: 0 -20px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: gray;
}

#menu-abierto div {
    font-size: 20px;
    padding: 15px 0;
    cursor: pointer;
}


.menu {
    cursor: pointer;
    padding: 15px;
    font-size: 36px;
    display: inline-block;
}



/*modaal recibo*/
.modal {
    top: 0%;
    z-index: 3;
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    background-color: #9a9797d5;
}

    .modal form {
        width: 40%;
        padding: 3vw;
        margin: calc(0vh + 5vh) auto; /* en ver */
        border-radius: 20px;
/*        height: calc(100vh - 25vh);
*/        background-color: #D9D9D9;
    }

#modal-recibo {
    display: none;
}
    #modal-recibo form {
        justify-content: space-around;
        color: #000000ab;
        font-size: 14px;
        width: 70%;
    }

    /* #modal-recibo section {
        width: 40%;
        line-height: 5vh;
        display: inline-block;
        background-color: transparent;
    } */
    .datos-alumno {
        width: auto;
        margin: 0 3vw;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: transparent;
    }
    .datos-alumno img {
        height: 9vh;
        width: 6vw;
        margin: -11vh 0 0 60vw; 
        opacity: 50%;
    }
     #donativo {
        width: 95%;
        gap:3vw;
        columns: 2;
        font-weight: bold;
        font-size: 16px;
        display: flex; 
        justify-content:flex-end;
    }
     #donativo-total{
        color: #c02b2b;
    }
    #modal-recibo #talleres {
        overflow-y: auto;
        font-size: 13px;
        height: 5vh;
        margin: 0vh 3vw;
        font-style: italic;
        text-align: center;
    }
/*modales de taller*/
#modal-AddTaller {
    display: none;
}

    #modal-AddTaller label {
        font-weight: bold;
    }

    #modal-AddTaller input, select {
        width: 100%;
        height: 2.5vh;
        margin: 1.5vh 0;
    }

.error {
    color: red;
    font-size: 13px;
    line-height: .6;
    font-weight: bold;
    text-align: center;
    overflow-y: auto;
    height: 7vh;
}

.cerrar {
    height: 3vh;
    width: 3vh;
    margin: 0 95%;
    color: white;
    cursor: pointer;
    background-color: #BC4C4C;
}

#acomodar {
    gap: 2vw;
    margin: -6vh 0 2vh;
    align-items: center;
    display: inline-flex;
}

    #acomodar i {
        font-size: 8vh;
    }

.buttons {
    width: 40%;
    height: 5vh;
    border: none;
    margin: 20px;
    padding: 20px;
    font-weight: bold;
    font-size: 90%;
    line-height: 0px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 1px 3px 10px 2px gray;
}

    .buttons:hover {
        cursor: pointer;
        color: white;
        background-color: #00000077;
    }

/*.modal input[type=text], .modal input[type=number] {
    width: 60%;
    height: 3vh;
    padding: 5px;
    border: none;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 0px rgba(128, 128, 128, 0.555);
}
*/
.inputForms {
    width: 100%;
    height: 2.5vh;
    margin: 1.5vh 0;
}
/*.modal select {
    width: 102%;
    height: 3vh;
    padding: 5px;
    border: none;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 0px rgba(128, 128, 128, 0.555);
}*/

.guardado {
    display: flex;
    justify-content: center;
}

#acomodar i, #acomodar h2 {
    cursor: default;
}

#modal-DeleteTaller {
    display: none;
    text-align: center;
}
#modal-DeleteTaller fieldset {
    height: 15vh;
    margin: -3vh 0 2vh 0;
}
#modal-DeleteTaller form {
/*    height: 25%;
*/    margin: 15% auto;
}

/* editar alumno*/
#modal-EditAlumno{
    display:none;
}
#modal-DeleteAlumno{
    display:none;
}

#talleresAlumno input[type=checkbox] {
    cursor: pointer;
}

/*estilo para vista registrar alumno*/
         #datos-alumno{
            gap: 30px;
            height: 200vh;
            display: grid;
            font-size: 120%;
            padding: 5vh 10vw;
            color: #000000ab;
            font-weight: bold;
            background-color: #EDEDED;
            grid-template-columns: 1fr 1fr;
            /* grid-template-rows: 1% 5% 4% 5% 0% 2% 30% 5% 0% ;  */

        }
        #datos-alumno section label{
            height: 1vh;
            display: block;
        }
        #datos-alumno section{
            padding: 20px;
            border-radius: 15px;
        }
        #datos-alumno section input{  
            margin: 3vh 0;
        }

         #contenedor-talleres{
            width: 100%; 
            grid-column: span 2;
            overflow-y: auto;
            min-height: 50vh;
            font-weight: normal;
            overflow-x: hidden;
        }
        #datos-alumno input, select{
            width: 60%; 
            height: 3vh;
            padding: 5px;
            border: none;
            margin: 2vh auto;
            border-radius: 5px;
            box-shadow: 1px 1px 20px 0px rgba(128, 128, 128, 0.555);
        } 
        .op-taller{
            height: 7vh; 
            display: flex;
            padding: 2vh 1vw;
            color: #000000ab;
            border-radius: 5px;
            background-color: #D9D9D9;
            justify-content: space-around;
            box-sizing: content-box;
            cursor: pointer;
            margin-bottom:10px;
        }
         .op-taller:hover{
            background-color: #d9d9d989;
         }
        .op-taller label{
            margin: auto;
        }
        /*para padecimientos*/
        #datAlum-padeci{
            grid-column: span 2;
        }
        #datos-alumno input[type ="checkbox"]{  /*checkbox*/
            width: 2.5vh;
            box-shadow: none;
            background-color: #4c4545;
        }
        #datAlum-padeci textarea{
            padding: 10px;
            min-height: 60%;
            min-width: 95%;
            max-width: 95%;
       } 
         #contenedor-abajo{
            columns: 1;
            width: 100%;
            font-weight: bold;
            grid-column: span 2;
         }
         #contenedor-abajo div{
            display: flex;
            justify-content: space-between;
         }
         .tamaño select, .tamaño input[type="text"]{
            width: 60%;
            height: 4vh;
         }
         #contenedor-abajo label{
            width: 25vw;
         }

.input-dias {
    max-width: 10%;
}

.input-horas {
    max-width: 20%;
}