@media (max-width:1200px) {

    .historial-activo {
        display: block;
        width: 35% !important;
    }
    aside {
        width: 23% !important;
    }
    .buscador {
        width: 60% !important;
    }
}


@media(max-width:900px) {
    .buscador {
        width: 60% !important;
    }
    aside {
        width: 18%;
    }
}
@media(max-width:800px) {
    .historial h2 {
        font-size: 20px !important;
    }
    input[type=search] {
        width: 79% !important;
    }
    aside {
        width: 30% !important;
    }

    .modal form {
        width: 60% !important;
    }
}

@media (max-width:650px) {
    /*    #aggTaller {
        height: 40px;
        border-radius: 10px;
        border: none;
        width: 20%;
    }
*/
    .buscador {
        width: 60% !important;
    }


    .tablita {
        overflow-y: auto;
        padding: 0px 0px !important;
    }
    input[type=search] {
        width: 79% !important;
    }
    .filtros {
        align-items: center;
        margin: 10px 0px 10px 0px !important;
        padding: 0 !important;
    }
    .historial h2 {
        font-size: 18px !important;
    }
}

@media(max-width:560px) {
    .buscador {
        width: 50% !important;
    }

    .historial {
        position: fixed;
        width: 45% !important;
    }
    input[type=search] {
        border-radius: 5px;
        font-size: 17px;
        height: 35px;
        width: 100% !important;
    }
    .filtros {
        padding: 0 !important;
    }
        .historial h2 {
            font-size: 12px;
        }
    aside {
        width: 45% !important;
    }

    .historial h2 {
        font-size: 12px;
    }

    .modal form {
        width: 80% !important;
    }

    .modal select {
        width: 103% !important;
    }
}










body {
    margin: 0;
    padding: 0;
}

html {
    background-color: #EDEDED;
    font-family: Arial, Helvetica, sans-serif;

}

#ig1 {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#ig2 {
    margin-right: 25px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

header {
    background-color: #D9D9D9;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    margin: 0;
    padding: 0;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.menu i{
    z-index:1000;
    cursor:pointer;
}
.izq {
    display: flex;
    align-items: center;
}

.principal h2 {
    font-weight: 500;
    margin-left: 20px;
}

.buscador {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 40%;
    display: flex;
    gap: 10px;
}

    .buscador img {
        height: 25px;
        width: 25px;
    }

input[type=search] {
    border-radius: 5px;
    font-size: 17px;
    height: 35px;
    border: 1px solid black;
    border-radius: 20px;
    width: 59%;
    padding-left: 10px;
    background-color: white;
}

.historial {
    position: fixed;
    top: 0;
    right: -10px;
    width: 25%;
    height: 100vh;
    background-color: lightgray;
    z-index: 1000;
    overflow-y: auto;
    border-radius: 15px 0px 0px 15px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.2);
}

.historial-activo {
    transform: translateX(0);
}

.datosHistorial {
    overflow-y: auto;
    padding: 10px;
}

    .datosHistorial p:nth-last-child(1) {
        margin-bottom: 30px;
    }

.historial h2 {
    height: 6%;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #afafaf;
}

.filtros {
    display: flex;
    align-items: center;
    padding: 10px 50px 10px;
}







/*

    TABLAS


*/



.tablita {
    /*    overflow-y: auto;
*/ padding: 0 50px;
    /*    height: calc(100vh - 200px);
*/
}

.tabla-scroll {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}

table th {
    background-color: ghostwhite;
    height: 40px;
    position: sticky;
    top: 0;
    z-index: 1;
}

table tr {
    height: 50px;
}

table td {
    text-align: center;
    padding: 8px;
}

table tr:nth-child(2n+1) {
    background-color: #d0d0d0;
}

table td:nth-last-child(1) {
    width: 5%;
}

    table td:nth-last-child(1) img {
        align-items: center;
        cursor: pointer;
        height: 25px;
        width: 25px;
        margin-right: 5px;
        margin-left: 5px;
        padding: 5px;
        border-radius: 100px;
    }

        table td:nth-last-child(1) img:hover {
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            transition: box-shadow 0.2s ease-in-out;
            border-radius: 100px;
            background-color: lightgrey;
        }

table {
    border-collapse: collapse;
    width: 100%;
    /*    border: 1px solid gray;   */
}







/* PARTE DE KARLA ASDJASD*/

aside {
    width: 18%;
    z-index: 1000;
    height: 100vh;
    position: fixed;
    font-size: 14px;
    top: 0;
    padding: 4vw 3vh;
    background-color: #D9D9D9;
    border-radius: 0 15px 15px 0;
    transition: ease-in-out .3s;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
}

    aside img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto 20px auto;
    }

a {
    text-decoration: none;
    color: #000;
}
/*cuando esta oculto*/
aside {
    opacity: 0;
    transform: translate(-100%);
}
    /*cuando esta visible*/
    aside.visible {
        opacity: 1;
        transform: translate(0);
        display: block;
    }

#menu-abierto h3 {
    text-align: center;
}

#menu-abierto div:hover {
    width: 100%;
    color: white;
    margin: 0 -20px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: gray;
}

#menu-abierto div {
    font-size: 20px;
    padding: 15px 0;
    cursor: pointer;
}


.menu {
    cursor: pointer;
    padding: 15px;
    font-size: 36px;
    display: inline-block;
}


/*modaal recibo*/
.modal {
    top: 0%;
    z-index: 3;
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    background-color: #9a9797d5;
}

  .modal form, #modal-recibo div:nth-child(1) {
        width: 40%;
        padding: 3vw;
        font-size: 14px;
        color: #000000ab;
        border-radius: 20px;
        height: calc(100vh - auto);
        background-color: #D9D9D9;
        margin: calc(0vh + 5vh) auto;
        justify-content: space-around;
    }

    #modal-recibo div:nth-of-type(1) {
        width: 70%;
        padding: 3vh 0vw;
    }

.datos-alumno {
    width: auto;
    margin: 0vh 5vw;
    flex-wrap: wrap;
    display: inline-flex;
    flex-direction: column;
}

    .datos-alumno img {
        width: 6vw;
        height: 8vh;
        opacity: 50%;
        margin: -9vh 0 0 55vw;
    }


   #donativo {
    gap: 3vw;
    width: 95%;
    columns: 2;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: flex-end;
}

#donativo-total {
    color: #c02b2b;
    cursor: pointer;
}
#modal-recibo #talleres {
    height: 5vh;
    width: 90%;
    font-size: 13px;
    margin: 0vh 3vw;
    overflow-y: auto;
    font-style: italic;
    text-align: center;
}

/*modales de taller*/
#modal-AddTaller {
    display: none;
}

    #modal-AddTaller label {
        font-weight: bold;
    }

    #modal-AddTaller input, select {
        width: 100%;
        height: 2.5vh;
        margin: 1.5vh 0;
    }

.error {
    color: red;
    font-size: 13px;
    line-height: .6;
    font-weight: bold;
    text-align: center;
    overflow-y: auto;
    height: 7vh;
}

#cerrar {
    margin: 0 95%;
    color: white;
    cursor: pointer;
    background-color: red;
}

#acomodar {
    gap: 2vw;
    margin: -6vh 0 2vh;
    align-items: center;
    display: inline-flex;
}

    #acomodar i {
        font-size: 8vh;
    }

.buttons {
    width: 40%;
    height: 5vh;
    border: none;
    margin: 20px;
    padding: 20px;
    font-weight: bold;
    font-size: 90%;
    line-height: 0px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 1px 3px 10px 2px gray;
}

    .buttons:hover {
        cursor: pointer;
        color: white;
        background-color: #00000077;
    }

.modal input[type=text], .modal input[type=number] {
    width: 60%;
    height: 3vh;
    padding: 5px;
    border: none;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 0px rgba(128, 128, 128, 0.555);
}

.modal select {
    width: 102%;
    height: 3vh;
    padding: 5px;
    border: none;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 0px rgba(128, 128, 128, 0.555);
}

.guardado {
    display: flex;
    justify-content: center;
}

#acomodar i, #acomodar h2 {
    cursor: default;
}
/*estilo para vista registrar alumno*/
#datos-alumno {
    gap: 30px;
    height: 200vh;
    display: grid;
    font-size: 120%;
    padding: 5vh 10vw;
    color: #000000ab;
    font-weight: bold;
    background-color: #EDEDED;
    grid-template-columns: 1fr 1fr;
}

    #datos-alumno section label {
        height: 1vh;
        margin: 0vh 5vw 0 0;
    }

    #datos-alumno section {
        padding: 20px;
        border-radius: 15px;
    }

        #datos-alumno section input {
            margin: 3vh 0 7vh 0;
        }

#contenedor-talleres {
    width: 100%;
    grid-column: span 2;
    overflow-y: auto;
    min-height: 50vh;
    font-weight: normal;
    overflow-x: hidden;
    display: none;
}

#datos-alumno input, select, textarea {
    width: 60%;
    height: 3vh;
    padding: 5px;
    border: none;
    margin: 2vh auto 0 0;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 0px rgba(128, 128, 128, 0.555);
}

.op-taller {
    height: 7vh;
    display: flex;
    padding: 2vh 1vw;
    color: #000000ab;
    border-radius: 5px;
    background-color: #D9D9D9;
    justify-content: space-around;
    box-sizing: content-box;
    cursor: pointer;
    margin-bottom: 10px;
}

    .op-taller:hover {
        background-color: #d9d9d989;
    }

    .op-taller label {
        margin: auto;
    }
/*para padecimientos*/
#datAlum-padeci {
    grid-column: span 2;
}

#datos-alumno input[type ="checkbox"] { /*checkbox*/
    width: 2.5vh;
    box-shadow: none;
    background-color: #4c4545;
}

#datAlum-padeci textarea {
    /*    padding: 10px;*/
    margin-bottom: -100px;
    min-width: 95%;
    max-width: 95%;
    min-height: 50%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .4s ease;
}

#datAlum-padeci #txtpadecimientos.mostrar {
    max-height: 300px;
    opacity: 1;
    margin-bottom: 15vh;
}

.input-dias {
    max-width: 10%;
}

.input-horas {
    max-width: 20%;
}

.op-taller.bloqueado {
    opacity: 0.5;
    pointer-events: none;
}

#contenedor-abajo {
    columns: 1;
    width: 100%;
    grid-column: span 2;
    display: flex;
    font-size: 12px;
}

.seleccionar {
    width:50vw;
    padding: 10px 5px 0;
    height: 2em;
    border-radius: 4px;
    background: white;
    cursor: pointer;
}

.seleccionar-opciones {
    background: white;
    border: 1px solid rgba(128, 128, 128, 0.555);
    border-radius: 0 0 4px 4px;
    overflow-y: auto;
    z-index: 999;
}

.opciones {
    display: block; /*ocultar*/
    cursor: pointer;
    height: 6vh;
}

    .opciones input[type ="checkbox"] {
        height: 1.5vh !important;
    }

    .opciones:hover {
        background: #f1f1f1;
    }
